<ul class="media-list">
  <% @favorites.each do |favorite| %>
    <% user = favorite.user %>
    <% micropost = favorite.micropost %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
        </div>
        <%= render 'favorites/favorites_btn', micropost: micropost %>
        <% if current_user == user %>
          <%= link_to '削除', micropost, method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-danger btn-xs' %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>